DATABASE_URL="mysql://user:password@localhost:3306/lms"
JWT_ACCESS_SECRET="use-at-least-32-characters-for-access-secret!!"
JWT_REFRESH_SECRET="use-at-least-32-characters-for-refresh-secret!"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES_DAYS="30"
# Comma-separated if you use both localhost and 127.0.0.1 in the browser
CLIENT_ORIGIN="http://localhost:3000,http://127.0.0.1:3000"
HUGGINGFACE_API_KEY=""
